body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"]{
    width: 100%;
    margin-bottom: 3px;
}

#allPosts {
    width: 60%;
}
.post {
    width: 100%;
    background-color: cyan;
}