body {
    margin: 0%;
    background-color: #000000;
}
p { 
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

/* START top bar styling */
.topContainer {
    display: flex;
    flex-direction: row;
    flex: 0 0 25%;

    background-color: #861e64;
    color: #fff;

    border-style: none none double none;
    border-width: 0.75em;
    border-color: #42072f;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 1px;
    padding: 1% 1rem;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 0.75;

    justify-content: center;
    align-items: center;
}
nav p {
    margin: 1rem;
    font-size: 2em;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.selectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #861e64;
    width: 100%;
    height: 100%;

    transition: background-color 0.5s ease;
}
.selectBox:hover {
    background-color: #571348;
}
a {
    text-decoration: none;
    color: white;
}
/* END top bar styling */

/* START Container for Everything */
.faqContainer {
    display: flex;
    flex: 1;
}
/* END Container for Everything */

/* START question related containers */
.questions {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: black;
}
.pregunta {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    background-color: #1e3a8a;

    border-style: solid;
    border-color: #990000;

    font-size: 2em;
    text-align: center;

    cursor: pointer;
}
/* END question related containers */

/* START right side containers */
.rightSide {
    display: flex;
    flex: 1;
    flex-direction: column;

    background-color: #000000;
}
.npc {
    display: flex;
    flex: 6;

    background-color: #000000;
    color: #ffffff;
}
.npc img {
    margin: auto;
    border-style: groove;
    border-color: #ffffff;
}
.textBox {
    display: flex;
    flex: 4;

    background-color: #000000;
    
    border-style: double;
    border-width: 1em;
    border-color: #ffffff;
}
.textBox p {
    color: #ffffff;
    margin-left: 5%;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;

    line-height: 1.5;
}
/* END right side related containers */