body {
    margin: 0%;
    background-image: url(images/backCreate.png);
    background-repeat: repeat;
}
p { 
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* START top bar styling */
.topContainer {
    display: flex;
    flex-direction: row;

    background-color: #861e64;
    color: #fff;

    border-style: none none double none;
    border-width: 0.75em;
    border-color: #42072f;

    top: 0;
    position: sticky;
    z-index: 10;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 1px;
    padding: 1% 1rem;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 0.75;

    justify-content: center;
    align-items: center;
}
nav p {
    margin: 1rem;
    font-size: 2em;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.selectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #861e64;
    width: 100%;
    height: 100%;

    transition: background-color 0.5s ease;
}
.selectBox:hover {
    background-color: #571348;
}
a {
    text-decoration: none;
    color: white;
}
/* END top bar styling */

/* START post creator */
.creatorTitle {
    background-color: #0a0022;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 20px;

    /* fix for mobile jarvey */
    width: min(90%, 600px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1.5% auto;
}

.titleWidth {
    width: 50%;
}

h2 {
    text-align: center;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;

    color: #fbff00;
}
.postCreator_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.postCreator {
    /* fix for mobile jarvey */
    width: min(90%, 600px);
    margin-inline: auto;
    /* background-color: #b1dddd; */
    background: linear-gradient(30deg, #b1dddd 0%, #cbb4f5 50%, #b1dddd 100%);
    border-style: solid;
    border-color: #ffd700;
}
.postCreator form {
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    flex-direction: column;
}
.postSpacer {
    margin-top: 5%;
}
textarea {
  resize: vertical;
}
/* END post creator */
/* Jarvey media queries */
@media (max-width: 768px) {
    .topContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    nav p {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.25rem;
        padding: 0.5rem;
    }

    .midBox,
    .postCreator,
    .gallery {
        width: 90%;
    }

    .postBox {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }

    .faqContainer {
        flex-direction: column;
    }

    .questions,
    .rightSide {
        width: 100%;
    }

    .npc img {
        width: 80%;
        height: auto;
    }

    .textBox p {
        font-size: 0.9rem;
    }
}

/* smaller phones  */
@media (max-width: 480px) {
    .postBox {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .titleSplash {
        font-size: 2rem;
    }

    .midBox p {
        font-size: 1rem;
    }

    .bottomBox {
        flex-direction: column;
    }

    .bottomBox_Container {
        width: 90%;
        margin: 1rem auto;
    }
}
/* Global image rule jarvey */
img {
    max-width: 100%;
    height: auto;
    display: block;
}