body {
    margin: 0%;
    background-image: url(images/backHome.png);
    background-repeat: repeat;
    background-attachment: fixed;
}
p { 
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* START top bar styling */
.topContainer {
    display: flex;
    flex-direction: row;

    background-color: #861e64;
    color: #fff;

    border-style: none none double none;
    border-width: 0.75em;
    border-color: #42072f;

    top: 0;
    position: sticky;
    z-index: 10;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 1px;
    padding: 1% 1rem;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 0.75;

    justify-content: center;
    align-items: center;
}
nav p {
    margin: 1rem;
    font-size: 2em;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.selectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #861e64;
    width: 100%;
    height: 100%;

    transition: background-color 0.5s ease;
}
.selectBox:hover {
    background-color: #571348;
    cursor: pointer;
}
.topContainer a {
    text-decoration: none;
    color: white;
}
/* END top bar styling */

/* START website welcome section */
.welcomeBox {
    display: flex;
    flex-direction: column;

    background: linear-gradient(30deg,#8a0303 0%, #cf4343 50%, #eb1717 100%);
    color: #ffffff;

    border-style: solid;
    border-color: #ffd900;
    border-width: 0.25rem;

    height: 50%;
    /* NOTE: Figure out how to do this and center it in the morning. */
    /* width: 90%; */
}
.welcomeBox p {
    margin-left: 5%;
    margin-right: 5%;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.splashContainer {
    direction: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.titleSplash {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;

    animation: textColor 10s linear infinite;
}
@keyframes textColor {
  0% { color: #ffffff; }
  25% { color: #acacff; }
  50% { color: #f7f454; }
  75% { color: #f2a1ff; }
  100% { color: #ffffff; }
}

.splashRight {
    margin-top: 0%;
    text-align: right;
}
/* END website welcome section */

/* START middle section */
.midBox_Container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 4%;
    margin-bottom: 4%;
}
.midBox {
    display: flex;
    width: 50%;

    background-color: #3b076b;
    border-style: solid;
    border-color: #1c0235;
    border-width: 0.5em;
}
.midBox p {
    margin: 4%;
    color: #ffffff;

    font-size: 1.5em;
}
/* END middle section */

/* START bottom section */
.bottomBox {
    background-color: #a31818;
    background: linear-gradient(0deg,#690808 0%, #a31818 50%, #ff3636 100%);
    margin-bottom: 0%;
    padding-bottom: 0%;
    height: 25%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;

    border-top: #ffee00 groove 1em;
}
.bottomBox p {
    margin: 0%;
    padding: 1%;

    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
}

.bottomBox_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 1;

    background-color: #ffd900;
    border-style: groove;
    border-color: #757500;
    border-width: 1em;
    transition: background-color 0.5s ease, color 0.5s ease;

    margin: 2%;
    padding: 2%;
}
.bottomBox_Container:hover {
    background-color: #0f073f;
    color: #ffffff;
}
.bottomBox_Container a {
    text-decoration: none;
    color: #000000;
}
/* END bottom section */

/* START footer */
footer {
    color: #ffffff;
    background-color: #690808;
    padding: 1%;

    border-style: dotted none none none;
    border-width: 0.25em;
    border-color: #ffd900;

    text-align: right;
    font-size: 1.5em;

    display: flex;
}
.hiddenText, .hiddenText a {
    text-align: left;
    color: #690808;
    text-decoration: none;
    transition: color 0.75s ease;
    margin: 0;
}
.hiddenText a:hover {
    color: #ffffff;
}
/* END footer */
/* Jarvey media queries */
@media (max-width: 768px) {
    .topContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    nav p {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.25rem;
        padding: 0.5rem;
    }

    .midBox,
    .postCreator,
    .gallery {
        width: 90%;
    }

    .postBox {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }

    .faqContainer {
        flex-direction: column;
    }

    .questions,
    .rightSide {
        width: 100%;
    }

    .npc img {
        width: 80%;
        height: auto;
    }

    .textBox p {
        font-size: 0.9rem;
    }
}

/* smaller phones  */
@media (max-width: 480px) {
    .postBox {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .titleSplash {
        font-size: 2rem;
    }

    .midBox p {
        font-size: 1rem;
    }

    .bottomBox {
        flex-direction: column;
    }

    .bottomBox_Container {
        width: 90%;
        margin: 1rem auto;
    }
}
/* Global image rule jarvey */
img {
    max-width: 100%;
    height: auto;
    display: block;
}